# Environment & Secret files
.env
.env.*
!.env.example

# Compressed archives
*.zip

# Un-ignore Vendor directory (Keeps vendor folder tracked)
!vendor/

# Operating System & IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/
data/new.sqlite.db

# PHP Tools & Cache
.phpunit.result.cache
composer.phar
